@model Register.Models.RegisterModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "สมัครสอบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imageBase64 = ViewBag.ImageBase64;
}
<div class="row" ng-app="registerApp" ng-controller="registerController">
    <div class="col-12 px-0 ng-cloak">
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">@SysParameterHelper.ApplicationName</h5>
                <div class="pl-2 pr-2">
                    <div class="row">
                        <div class="col-11 col-md-12 col-form-label text-danger information ml-2">
                            หมายเหตุ : กรุณาตรวจทานข้อมูลให้ครบถ้วน
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label for="" class="control-label col-12 col-md-2 text-md-right pt-md-2 col-form-label font-weight-bold">ภาค/เขต ที่สมัครสอบ</label>
                            <div class="col-12 col-md-6 pt-md-1 ml-3 ml-md-0 col-form-label style-citizenid">
                                <label>{{model.CenterExamName}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="control-label col-12 col-md-2 text-md-right pt-md-2 col-form-label font-weight-bold">ตำแหน่งที่สมัครสอบ</label>
                            <div class="col-12 col-md-6 pt-md-1 ml-3 ml-md-0 col-form-label style-citizenid">
                                <label>{{model.RegClassName}}</label>
                            </div>
                        </div>*@
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-2 text-md-right pt-md-2 col-form-label font-weight-bold">เลขประจำตัวประชาชน</label>
                        <div class="col-12 col-md-3 pt-md-1 ml-3 ml-md-0 col-form-label style-citizenid">
                            <label>{{model.CitizenID}}</label>
                        </div>

                        @*<label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">บัตรประชาชนออกให้ ณ จังหวัด</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.CitizenProvinceName}}</label>
                            </div>*@

                    </div>
                    <div class="form-group row">
                        @*<label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">วันที่ออกบัตร</label>
                            <div class="input-group col-12 col-md-3 pointer">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.IssueDate}}</label>
                            </div>*@
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">บัตรหมดอายุ</label>
                        <div class="input-group col-12 col-md-2 pointer">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ExpiredDate}}</label>
                        </div>
                        <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label text-danger">(ในวันเข้าสอบ บัตรประจำตัวประชาชน ของผู้สมัคร ต้องไม่หมดอายุ มิฉะนั้น จะไม่มีสิทธิ์เข้าสอบ)</label>
                    </div>
                    @*<div class="form-group row">
                            <label for="" class="col-12 col-md-2 d-none d-md-flex text-md-right col-form-label"></label>
                            <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label text-danger">(ในวันเข้าสอบ บัตรประจำตัวประชาชน ของผู้สมัคร ต้องไม่หมดอายุ มิฉะนั้น จะไม่มีสิทธิ์เข้าสอบ)</label>
                        </div>*@
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">คำนำหน้า</label>
                        <div class="input-group col-12 col-md-3 pl-md-3">
                            <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.PrefixName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชื่อตัว</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.FirstName}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชื่อสกุล</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.LastName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เพศ</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.GenderName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">สัญชาติ</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.NationName}}</label>
                        </div>

                        @*<label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เชื้อชาติ</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.RaceName}}</label>
                            </div>*@
                    </div>
                    @*<div class="form-group row">
                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ศาสนา</label>
                            <div class="input-group col-12 col-md-3 pl-md-3">
                                <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.ReligionName}}</label>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required ">สถานภาพ</label>
                        <div class="input-group col-12 col-md-8">
                            <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.StatusName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">วัน-เดือน-ปี เกิด</label>
                        <div class="input-group col-6 col-md-2 pointer">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.BirthDateDay}} / {{model.BirthDateMonth}} / {{model.BirthDateYear}}</label>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="" class="col-form-label ml-3 ml-md-0 text-danger">อายุ {{model.AgeYear}} ปี {{model.AgeMonth}} เดือน {{model.AgeDay}} วัน</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-12 col-md-2 d-none d-md-flex text-md-right col-form-label"></label>
                        <label for="" class="col-11 col-md-8 ml-3 ml-md-0 col-form-label text-danger">(อายุต้องไม่ต่ำกว่า 18 ปี นับถึงวันที่ปิดรับสมัครในวันที่ {{closeEnrollDate}})</label>
                    </div>
                </div>

            </div>
        </div>
        @*}*@
        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">กลุ่มวิชาที่สมัครสอบ</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">
                            <label for="" class="col-12 col-md-1 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-10 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ClassGroupName}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">ตำแหน่งที่สมัคร และวุฒิการศึกษา</h5>
                <div class="pl-2 pr-2">
                    @*<div class="form-group row mt-3">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ตำแหน่งที่สมัครสอบ</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">ครูผู้ช่วย</label>
                            </div>
                        </div>*@
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ตำแหน่งที่สมัครสอบ</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.RegClassName}}</label>
                        </div>
                        @*<label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">รหัสวิชา/กลุ่มวิชา</label>
                            <div class="input-group col-12 col-md-2">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ClassGroupName}}</label>
                            </div>*@
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">วุฒิที่ใช้ในการสมัคร</label>
                        <div class="input-group col-12 col-md-8">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ClassLavelName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ชื่อหลักสูตร/ปริญญาบัตร</label>
                        <div class="input-group col-12 col-md-4 pl-md-3">
                            <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.DegreeName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">สาขาวิชา/วิชาเอก</label>
                        <div class="input-group col-12 col-md-4 pl-md-3">
                            <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.MajorName}}</label>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required" ng-cloak>{{lstEducationals.length > 0 ? lstEducationals[0].title : "ชื่อปริญญา"}}</label>
                            <div class="input-group col-12 col-md-8">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.DegreeName}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">สาขาวิชา/วิชาเอก</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.MajorName}}</label>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ชื่อสถานศึกษา</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.SchoolName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">จบการศึกษาคณะ</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.FacultyName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ที่ตั้งสถานศึกษา</label>
                        <div class="input-group col-12 col-md-4" ng-if="model.SchoolFlag == 'DOM'">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">ในประเทศ</label>
                        </div>
                        <div class="input-group col-12 col-md-4" ng-if="model.SchoolFlag == 'FOR'">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">ต่างประเทศ</label>
                        </div>
                    </div>

                    <div class="form-group row" ng-if="model.SchoolFlag == 'DOM'">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">จังหวัด</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.SchoolProvinceName}}</label>
                        </div>
                    </div>

                    <div class="form-group row" ng-if="model.SchoolFlag == 'FOR'">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ประเทศ</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.SchoolProvinceName}}</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">วัน/เดือน/ปี ที่สำเร็จการศึกษา</label>
                        <div class="input-group col-6 col-md-4 pointer">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.GraduateDate}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">เกรดเฉลี่ยสะสม</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.GPA}}</label>
                        </div>
                    </div>
                    @* ก.พ. *@
                    @*<div class="form-group row">

                        <label for="" class="col-12 col-md-2 text-md-right col-form-label"></label>
                        <div class="input-group col-12 col-md-8">
                            <div class="custom-control custom-checkbox custom-control-inline mt-3 ml-2 mr-1 mr-md-0">
                                <input class="custom-control-input col-form-label" type="checkbox"
                                       ng-model="ocscFlag"
                                       id="ocscFlag" disabled="disabled">
                                <label class="custom-control-label pointer" onclick="" for="ocscFlag">
                                    &nbsp;ข้าพเจ้าเป็นผู้สอบผ่านการวัดความรู้ความสามารถทั่วไป (ภาค ก.) ของสำนักงาน ก.พ.
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ระดับวุฒิการศึกษา</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.OCSCLevelName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">เลขที่หนังสือรับรองฯ</label>
                        <div class="input-group col-6 col-md-4 pointer">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.OCSCCertNo}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">วันที่สอบ</label>
                        <div class="input-group col-6 col-md-4 pointer">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.OCSCExamDate}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label font-weight-bold">วันประกาศขึ้นทะเบียนสอบ</label>
                        <div class="input-group col-6 col-md-4 pointer">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.OCSCPassDate}}</label>
                        </div>
                    </div>*@
                    @* end ก.พ. *@
                    @*<div class="form-group row mt-4">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">วุฒิการศึกษาสูงสุด</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ClassHighestLavelName}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">สถานศึกษา</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ClassHighestLavelSchoolName}}</label>
                            </div>
                        </div>*@
                    @*<div class="form-group row mt-4">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">วุฒิการศึกษาสูงสุด</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ClassHighestLavelName}}</label>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">วุฒิการศึกษาอื่นๆ (ถ้ามี)</h5>
                <div class="pl-2 pr-2">
                    <div class="row mt-3">
                        <div class="font-weight-bold col-12 col-md-12 mt-3">วุฒิการศึกษา (โปรดระบุคุณวุฒิการศึกษาสูงสุดไว้ด้านบนสุด เรียงลำดับไปจนถึงปริญญาตรี หรือคุณวุฒิที่ได้รับการยกเว้น)</div>
                    </div>
                    <table class="table w-100 mt-3" id="tableEducation">
                        <thead>
                            <tr>
                                <th style="max-width:5px;"></th>
                                <th class="text-center align-middle">ปริญญา</th>
                                <th class="text-center align-middle">ชื่อวุฒิการศึกษา<br />(ตรงตามมาตรฐานกำหนดตำแหน่ง)</th>
                                <th class="text-center align-middle">สาขา</th>
                                <th class="text-center align-middle">โดยได้รับอนุมัติ<br />จากสถานศึกษา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="member in model.gridEducation">
                                <td class="text-center">{{member.SEQ_NO}}</td>
                                <td class="text-center">{{member.CLASS_LEVEL_Name}}</td>
                                <td class="text-center">{{member.DEGREE_NAME}}</td>
                                <td class="text-center">{{member.MAJOR_NAME}}</td>
                                <td class="text-center">{{member.SCHOOL_NAME}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">ประสบการณ์การทำงาน</h5>
                <div class="pl-2 pr-2">
                    <table class="table w-100 mt-3" id="tableEducation">
                        <thead>
                            <tr>
                                <th style="max-width:5px;" rowspan="2"></th>
                                <th class="text-center" colspan="2">ปี พ.ศ.</th>
                                <th class="text-center align-middle" rowspan="2">ตำแหน่ง</th>
                                <th class="text-center align-middle" rowspan="2">สถานที่ทำงาน</th>
                                <th class="text-center align-middle" rowspan="2">เงินเดือนสุดท้าย</th>
                                <th class="text-center align-middle" rowspan="2">วันที่เหตุผล</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="width: 8%;">จาก</th>
                                <th class="text-center" style="width: 8%;">ถึง</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="member in model.gridExperience">
                                <td class="text-center">{{member.SEQ_NO}}</td>
                                <td class="text-center">{{member.START_DATE}}</td>
                                <td class="text-center">{{member.END_DATE}}</td>
                                <td class="text-center">{{member.POSITION_NAME}}</td>
                                <td class="text-center">{{member.WORKPLACE}}</td>
                                <td class="text-center">{{member.SALARY}}</td>
                                <td class="text-center">{{member.REMARK}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">ข้อมูลคุณวุฒิระดับอนุปริญญา</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-2 mb-0">
                            <label for="" class="col-12 col-md-1 d-none d-md-flex text-md-right col-form-label"></label>
                            <label for="" class="col-12 col-md-11 col-form-label information font-weight-bold text-danger">วุฒิการศึกษาที่ใช้สมัครสอบเป็นปริญญาตรีหลักสูตรต่อเนื่อง (หลังจากหลักสูตรอนุปริญญา เช่น ปวส. หรือ ปวท.) ใช่หรือไม่ ?</label>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-12 col-md-1 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-8 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 information col-form-label font-weight-bold">{{model.DiplomaFlag == 'Y' ? 'ใช่' : 'ไม่ใช่'}}</label>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="model.DiplomaFlag == 'Y'">
                            <label for="" class="col-12 col-md-3 text-md-right col-form-label required">สาขาวิชา/วิชาเอก</label>
                            <div class="input-group col-12 col-md-8 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.DiplomaMajor}}</label>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="model.DiplomaFlag == 'Y'">
                            <label for="" class="col-12 col-md-3 text-md-right col-form-label required">สาขาวิชา/วิชาเอก</label>
                            <div class="input-group col-12 col-md-8 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.DiplomaAcademy}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">ข้อมูลสำเร็จการศึกษาระดับประกาศนียบัตรบัณฑิตวิชาชีพครู (ถ้ามี)</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">
                            <label for="" class="col-12 col-md-3 control-label text-md-right col-form-label font-weight-bold">ชื่อสถานศึกษา</label>
                            <div class="input-group col-12 col-md-8 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.DiplomaTeachAcademy}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-12 col-md-3 control-label text-md-right col-form-label font-weight-bold">วันที่จบการศึกษา</label>
                            <div class="input-group col-12 col-md-8 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.DiplomaTeachGraduateDate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">ระดับชั้นที่ประสงค์จะสอบสาธิตการปฏิบัติการสอน</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">
                            <label for="" class="col-12 col-md-1 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-10 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TeachClassLevelName}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">สำเนาหลักฐานที่ใช้แสดงในการประกอบวิชาชีพครู</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">
                            <label for="" class="col-12 col-md-1 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-10 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.DocTypeName}}</label>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="model.DocTypeID != '13'">
                            <label for="" class="col-12 offset-md-1 col-md-auto text-md-right col-form-label required">เอกสารหลักฐานที่ใช้แสดงในการประกอบวิชาชีพครู เลขที่</label>
                            <div class="input-group col-12 col-md-5 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.CertTeachNo}}</label>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="model.DocTypeID != '13'">
                            <label for="" class="col-12 offset-md-1 col-md-auto text-md-right col-form-label required">ออกให้ ณ วันที่</label>
                            <div class="input-group col-12 col-md-2 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.CertTeachIssuedDate}}</label>
                            </div>
                            <label for="" class="col-12 col-md-auto text-md-right col-form-label required">ใช้ได้จนถึง วันที่</label>
                            <div class="input-group col-12 col-md-2 ml-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.CertTeachExpireDate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">ชื่อตัว-ชื่อสกุล ในคุณวุฒิการศึกษาที่ใช้สมัครสอบ</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row">

                            <label for="" class="col-12 col-md-2 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-8">
                                <div class="custom-control custom-checkbox custom-control-inline mt-3 ml-2 mr-1 mr-md-0">
                                    <input class="custom-control-input col-form-label" type="checkbox"
                                           ng-model="eduFlag"
                                           id="eduFlag" disabled="disabled">
                                    <label class="custom-control-label pointer" onclick="" for="eduFlag">
                                        &nbsp;ใช้คำนำหน้า ชื่อตัว และชื่อสกุลเดียวกับบัตรประชาชน
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">คำนำหน้า</label>
                            <div class="input-group col-12 col-md-3 pl-md-3">
                                <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.EduPrefixName}}</label>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชื่อตัว</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.EduFirstName}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชื่อสกุล</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.EduLastName}}</label>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="" class="col-12 col-md-2 d-none d-md-flex text-md-right col-form-label"></label>
                            <label for="" class="col-11 col-md-8 ml-3 ml-md-0 col-form-label text-danger">(โปรดระบุชื่อตัวและชื่อสกุลของท่านให้ตรงตามที่ปรากฏในคุณวุฒิการศึกษาที่ใช้ในการสมัครสอบ)</label>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">ข้อมูลความพิการ</h5>
                    <div class="form-group row mt-3">
                        <div class="input-group col-12 col-md-10 ml-md-3">
                            <label for="" class="col-12 col-md-12 col-form-label" ng-if="model.DefectiveHelpID == '0'">ไม่มีความพิการ</label>
                            <label for="" class="col-12 col-md-12 col-form-label" ng-if="model.DefectiveHelpID == '2'">พิการทางขา</label>
                            <label for="" class="col-12 col-md-12 col-form-label" ng-if="model.DefectiveHelpID == '4'">ตามัว ไม่สามารถอ่านตัวหนังสือขนาดปกติได้ <span class="font-weight-bold" style="color:red;">(มีใบรับรองแพทย์)</span></label>
                            <label for="" class="col-12 col-md-12 col-form-label" ng-if="model.DefectiveHelpID == '1'">พิการทางการมองเห็น ตาบอดทั้ง 2 ข้าง <span class="font-weight-bold" style="color:red;">(จัดให้เข้าสอบตามที่ กสถ. กำหนด)</span></label>
                            <label for="" class="col-12 col-md-12 col-form-label" ng-if="model.DefectiveHelpID == '3'">พิการทางการมองเห็น ตาบอดทั้ง 2 ข้าง และพิการทางขา <span class="font-weight-bold" style="color:red;">(จัดให้เข้าสอบตามที่ กสถ. กำหนด)</span></label>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">อาชีพปัจจุบัน</h5>
                <div class="pl-2 pr-2">

                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">อาชีพ</label>
                        <div class="input-group col-12 col-md-8 ml-md-3">
                            <label for="" class="col-12 col-md-8 ml-3 ml-md-0 col-form-label">{{model.OccuupationName}} {{model.OccuupationName4Gov}}</label>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ตำแหน่ง</label>
                        <div class="input-group col-12 col-md-4 ml-md-3">
                            <label for="" class="col-12 col-md-8 col-form-label">{{model.PositionName}}</label>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">สถานที่ทำงาน</label>
                        <div class="input-group col-12 col-md-4 ml-md-3">
                            <label for="" class="col-12 col-md-8 col-form-label">{{model.StationName}}</label>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">กอง/สำนัก/อื่น ๆ</label>
                        <div class="input-group col-12 col-md-4 ml-md-3">
                            <label for="" class="col-12 col-md-8 col-form-label">{{model.DepartmentName}}</label>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">อัตราเงินเดือน</label>
                        <div class="input-group col-12 col-md-3 ml-md-3">
                            <label for="" class="col-12 col-md-8 col-form-label">{{model.Salary}}</label>
                        </div>
                    </div>
                    @*<div class="form-group row mt-3">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">โทรศัพท์เคลื่อนที่</label>
                            <div class="input-group col-12 col-md-4 ml-md-3">
                                <label for="" class="col-12 col-md-8 col-form-label">{{(model.OccuupationID == "4" || model.OccuupationID == "5") ? "-" : model.OfficeMobile}}</label>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label font-weight-bold">โทรศัพท์ที่ทำงาน</label>
                            <div class="input-group col-12 col-md-4 ml-md-3">
                                <label for="" class="col-12 col-md-8 col-form-label">{{(model.OccuupationID == "4" || model.OccuupationID == "5") ? "-" : model.OfficeTel}}</label>
                            </div>
                            <label for="" class="control-label col-12 col-md-1 text-md-right col-form-label font-weight-bold">ต่อ</label>
                            <div class="input-group col-12 col-md-3 ml-md-">
                                <label for="" class="col-12 col-md-8 col-form-label">{{(model.OccuupationID == "4" || model.OccuupationID == "5") ? "-" : model.OfficeTelEx}}</label>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">ภูมิลําเนาตามทะเบียนบ้าน</h5>
                <div class="pl-2 pr-2">
                    @*<div class="form-group row mt-3">

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">บ้านเลขที่</label>
                            <div class="input-group col-12 col-md-2">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbAddrNo}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชั้น/อาคาร/หมู่บ้าน</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbVillage}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-1 text-md-right col-form-label required">หมู่ที่</label>
                            <div class="input-group col-12 col-md-2">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbMoo}}</label>
                            </div>

                        </div>
                        <div class="form-group row">

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ตรอก/ซอย/แยก</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TbbSoi}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ถนน</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbRoad}}</label>
                            </div>

                        </div>*@
                    <div class="form-group row mt-3">

                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">จังหวัด</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TbbProvName}}</label>
                        </div>

                        @*<label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เขต/อำเภอ</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbAmphName}}</label>
                            </div>*@

                    </div>
                    @*<div class="form-group row">

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">แขวง/ตำบล</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TbbTmblName}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">รหัสไปรษณีย์</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbZipcode}}</label>
                            </div>

                        </div>
                        <div class="form-group row">

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold">โทรศัพท์บ้าน</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TbbTel}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold">ต่อ</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.TbbTelEx}}</label>
                            </div>

                        </div>*@
                </div>

            </div>
        </div>
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">ที่อยู่ที่สามารถติดต่อได้</h5>
                <div class="pl-2 pr-2">
                    @*<div class="form-group row">

                            <label for="" class="col-12 col-md-2 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-8">
                                <div class="custom-control custom-checkbox custom-control-inline mt-2 ml-2 mr-1 mr-md-0">
                                    <input class="custom-control-input col-form-label" type="checkbox"
                                           ng-model="tbbFlag"
                                           id="tbbFlag" disabled="disabled">
                                    <label class="custom-control-label pointer" onclick="" for="tbbFlag">
                                        &nbsp;ใช้ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน
                                    </label>
                                </div>
                            </div>

                        </div>*@
                    <div class="form-group row mt-3">

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">บ้านเลขที่</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.AddrNo}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชั้น/อาคาร/หมู่บ้าน</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.Village}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-1 text-md-right col-form-label required">หมู่ที่</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.Moo}}</label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ตรอก/ซอย/แยก</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.Soi}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ถนน</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.Road}}</label>
                        </div>

                    </div>
                    <div class="form-group row mt-3">

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">จังหวัด</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ProvName}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เขต/อำเภอ</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.AmphName}}</label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">แขวง/ตำบล</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TmblName}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">รหัสไปรษณีย์</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.Zipcode}}</label>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold">โทรศัพท์บ้าน</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.Tel}}</label>
                        </div>
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold">ต่อ</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.TelEx}}</label>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold">โทรศัพท์เคลื่อนที่</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.Mobile}}</label>
                        </div>
                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold">อีเมล</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 col-form-label">{{model.Email}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-1 text-md-right col-form-label font-weight-bold">ไอดีไลน์</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.LineID}}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table">บุคคลอ้างอิง</h5>
                <div class="pl-2 pr-2">
                    @*<div class="form-group row">

                            <label for="" class="col-12 col-md-2 text-md-right col-form-label"></label>
                            <div class="input-group col-12 col-md-8">
                                <div class="custom-control custom-checkbox custom-control-inline mt-2 ml-2 mr-1 mr-md-0">
                                    <input class="custom-control-input col-form-label" type="checkbox"
                                           ng-model="tbbFlag"
                                           id="tbbFlag" disabled="disabled">
                                    <label class="custom-control-label pointer" onclick="" for="tbbFlag">
                                        &nbsp;ใช้ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน
                                    </label>
                                </div>
                            </div>

                        </div>*@
                    <div class="form-group row mt-3">
                        <label for="" class="col-12 col-md-1 text-md-right col-form-label ">1.</label>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">คำนำหน้า</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactTitleName}}</label>
                        </div>

                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ชื่อตัว</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactFName}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชื่อสกุล</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactLName}}</label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">เกี่ยวข้องเป็น</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ContactDetail}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เบอร์โทรศัพท์ติดต่อ</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactPhoneNo}}</label>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="col-12 col-md-1 text-md-right col-form-label ">2.</label>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">คำนำหน้า</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactTitleName2}}</label>
                        </div>

                    </div>
                    <div class="form-group row mt-3">
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ชื่อตัว</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactFName2}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">ชื่อสกุล</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactLName2}}</label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">เกี่ยวข้องเป็น</label>
                        <div class="input-group col-12 col-md-2">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 col-form-label">{{model.ContactDetail2}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เบอร์โทรศัพท์ติดต่อ</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ContactPhoneNo2}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">จังหวัดที่ประสงค์จะเข้าสอบ</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">เข้าสอบจังหวัด</label>
                            <div class="input-group col-12 col-md-10">
                                <label for="" class="col-12 col-md-9 ml-3 ml-md-0 col-form-label">{{model.ExamSiteName}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="col-12 px-1 px-md-3" ng-if="model.SMSStatus == 'Y'">
            <div class="card mt-3">
                <h5 class="card-header header-table">บริการเสริม SMS</h5>
                <div class="pl-2 pr-2">
                    <div class="form-group row">
                        <div class="input-group col-12 col-md-4">
                            <div class="custom-control custom-checkbox custom-control-inline mt-3 ml-2 mr-1 mr-md-0">
                                <input class="custom-control-input col-form-label" type="checkbox"
                                       ng-model="smsStatus"
                                       id="confirmSMS" disabled="disabled">
                                <label class="custom-control-label pointer" onclick="" for="confirmSMS">
                                    &nbsp;รับข่าวสารผ่านบริการเสริม SMS / Email
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-12 col-md-11 col-form-label text-danger ml-md-3">(ค่าบริการเสริมจากบริษัท CWN 20 บาท โดยบริการเสริมไม่เกี่ยวข้อง กับ กรมการพัฒนาชุมชน)</label>
                    </div>
                    <div class="form-group row">

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">โทรศัพท์เคลื่อนที่</label>
                        <div class="input-group col-12 col-md-3">
                            <label for="" class="col-12 col-md-12 col-form-label">{{model.SMSMobile}}</label>
                        </div>

                        <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">อีเมล</label>
                        <div class="input-group col-12 col-md-4">
                            <label for="" class="col-12 col-md-9 col-form-label">{{model.SMSEmail}}</label>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">ความรู้ความสามารถพิเศษ</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">
                            <div class="input-group col-12 col-md-6">
                                <label for="" class="col-12 col-md-12 col-form-label">{{model.SpecialSkills}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="col-12 px-1 px-md-3">
                <div class="card mt-3">
                    <h5 class="card-header header-table">บุคคลที่ติดต่อได้ ในกรณีฉุกเฉิน</h5>
                    <div class="pl-2 pr-2">
                        <div class="form-group row mt-3">

                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ชื่อ</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 col-form-label">{{model.EmergencyFirstName}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label required">นามสกุล</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 col-form-label">{{model.EmergencyLastName}}</label>
                            </div>

                        </div>
                        <div class="form-group row">

                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label required">ความสัมพันธ์</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 col-form-label">{{model.EmergencyRelation}}</label>
                            </div>
                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label font-weight-bold required">โทรศัพท์เคลื่อนที่</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 col-form-label">{{model.EmergencyMoblie}}</label>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label font-weight-bold required">โทรศัพท์บ้าน/สถานที่ทำงาน</label>
                            <div class="input-group col-12 col-md-3">
                                <label for="" class="col-12 col-md-12 col-form-label">{{model.EmergencyTel}}</label>
                            </div>

                            <label for="" class="control-label col-12 col-md-2 text-md-right col-form-label">ต่อ</label>
                            <div class="input-group col-12 col-md-4">
                                <label for="" class="col-12 col-md-9 col-form-label">{{model.EmergencyTelEx}}</label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>*@
        @*<div class="col-12 px-1 px-md-3 ng-cloak">
                <div class="card mt-3">
                    <h5 class="card-header header-table">อัปโหลดเอกสาร</h5>
                    <div class="card-body form-group pl-3 mb-0">
                        @Html.Partial("_DocsUploadListConfirm", Model.DOCS ?? new List<DocToUploadModel>())
                    </div>
                </div>
            </div>*@
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <h5 class="card-header header-table-danger text-white">คำเตือน! กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนกดปุ่มส่งใบสมัคร</h5>
                <div class="pl-2 pr-2 font-weight-bold">
                    <div class="form-group row mt-3">
                        <div class="col-12 col-md-1"></div>
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">เลขประจำตัวประชาชน</label>
                        <div class="input-group col-12 col-md-8">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid">@Model.CitizenID</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-1"></div>
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">ชื่อตัว - ชื่อสกุล</label>
                        <div class="input-group col-12 col-md-8">
                            <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid">{{model.PrefixName}} {{model.FirstName}} {{model.LastName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-1"></div>
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">วุฒิที่ใช้ในการสมัคร</label>
                        <div class="input-group col-12 col-md-8">
                            <label for="" class="col-12 col-md-11 ml-3 ml-md-0 style-citizenid">{{model.ClassLavelName}}</label>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <div class="col-12 col-md-1"></div>
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">ความพิการ</label>
                            <div class="input-group col-12 col-md-8">
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid" ng-if="model.DefectiveHelpID == '0'">ไม่มีความพิการ</label>
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid" ng-if="model.DefectiveHelpID == '2'">พิการทางขา</label>
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid" ng-if="model.DefectiveHelpID == '4'">ตามัว ไม่สามารถอ่านตัวหนังสือขนาดปกติได้ <span class="font-weight-bold" style="color:red;">(มีใบรับรองแพทย์)</span></label>
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid" ng-if="model.DefectiveHelpID == '1'">พิการทางการมองเห็น ตาบอดทั้ง 2 ข้าง <span class="font-weight-bold" style="color:red;">(จัดให้เข้าสอบที่ </span><span class="font-weight-bold" style="text-decoration: underline;color:red;">กรุงเทพมหานคร</span><span class="font-weight-bold" style="color:red;">)</span></label>
                                <label for="" class="col-12 col-md-12 ml-3 ml-md-0 style-citizenid" ng-if="model.DefectiveHelpID == '3'">พิการทางการมองเห็น ตาบอดทั้ง 2 ข้าง และพิการทางขา <span class="font-weight-bold" style="color:red;">(จัดให้เข้าสอบที่ </span><span class="font-weight-bold" style="text-decoration: underline;color:red;">กรุงเทพมหานคร</span><span class="font-weight-bold" style="color:red;">)</span></label>
                            </div>
                        </div>*@
                    @*<div class="form-group row">
                            <div class="col-12 col-md-1"></div>
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">ภาค/เขต ที่สมัครสอบ</label>
                            <div class="input-group col-11 col-md-8">
                                <label for="" class="col-12 col-md-auto ml-3 ml-md-0 style-position">{{model.CenterExamName}}</label>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <div class="col-12 col-md-1"></div>
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">ตำแหน่งที่สมัครสอบ</label>
                        <div class="input-group col-11 col-md-8">
                            <label for="" class="col-12 col-md-auto ml-3 ml-md-0 style-position">{{model.RegClassName}}</label>
                        </div>
                    </div>
                    @*<div class="form-group row mb-4">
                            <div class="col-12 col-md-1"></div>
                            <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">รหัสวิชา/กลุ่มวิชา</label>
                            <div class="input-group col-11 col-md-8">
                                <label for="" class="col-12 col-md-auto ml-3 ml-md-0 style-citizenid">{{model.ClassGroupName}}</label>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <div class="col-12 col-md-1"></div>
                        <label for="" class="control-label col-12 col-md-3 text-md-right col-form-label">รูปถ่าย</label>
                        <div class="input-group col-12 col-md-6">
                            <img class="border border-dark" src="@imageBase64" style="width: 198px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-1 px-md-3 font-weight-bold">
            <div class="card mt-3 p-3 text-danger style-citizenid">
                เมื่อผู้สมัครยืนยันข้อมูลแล้ว จะไม่สามารถแก้ไขข้อความ หรือแก้ไข/อัพโหลดเอกสารใด ๆ เพิ่มเติมได้อีก และไม่สามารถทำการสมัครใหม่ได้ ผู้สมัครจึงพึงระมัดระวังในการบันทึกข้อมูล พร้อมทั้งตรวจสอบข้อมูลและเอกสารที่ใช้ในการสมัครสอบให้ถูกต้อง ครบถ้วน ตามที่กำหนด กรณีผู้สมัครบันทึกข้อมูลหรือแนบเอกสารหลักฐานไม่ถูกต้อง/ไม่ครบถ้วน อันส่งผลให้ผู้สมัครขาดคุณสมบัติ ผู้สมัครจะเรียกร้องสิทธิใด ๆ ไม่ได้
            </div>
        </div>
        <div class="col-12 px-1 px-md-3">
            <div class="card mt-3">
                <form method="post" action="@Url.Action("RegisterStep2", "Register")" id="confirmRegister" name="confirmRegister">
                    <div class="row mt-3 justify-content-center">
                        <div class="" id="captcha">
                            @Html.Captcha("เปลี่ยน", "", 5, "Validate your captcha", false)
                            @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div ng-repeat="member in model.gridEducation">
                        <input type="hidden" name="gridEducations[{{$index}}][SEQ_NO]" value="{{member.SEQ_NO}}" />
                        <input type="hidden" name="gridEducations[{{$index}}][CLASS_LEVEL_ID]" value="{{member.CLASS_LEVEL_ID}}" />
                        <input type="hidden" name="gridEducations[{{$index}}][CLASS_LEVEL_Name]" value="{{member.CLASS_LEVEL_Name}}" />
                        <input type="hidden" name="gridEducations[{{$index}}][DEGREE_NAME]" value="{{member.DEGREE_NAME}}" />
                        <input type="hidden" name="gridEducations[{{$index}}][MAJOR_NAME]" value="{{member.MAJOR_NAME}}" />
                        <input type="hidden" name="gridEducations[{{$index}}][SCHOOL_NAME]" value="{{member.SCHOOL_NAME}}" />
                    </div>
                    <div ng-repeat="member in model.gridExperience">
                        <input type="hidden" name="gridExperiences[{{$index}}][SEQ_NO]" value="{{member.SEQ_NO}}" />
                        <input type="hidden" name="gridExperiences[{{$index}}][START_DATE]" value="{{member.START_DATE}}" />
                        <input type="hidden" name="gridExperiences[{{$index}}][END_DATE]" value="{{member.END_DATE}}" />
                        <input type="hidden" name="gridExperiences[{{$index}}][POSITION_NAME]" value="{{member.POSITION_NAME}}" />
                        <input type="hidden" name="gridExperiences[{{$index}}][WORKPLACE]" value="{{member.WORKPLACE}}" />
                        <input type="hidden" name="gridExperiences[{{$index}}][SALARY]" value="{{member.SALARY}}" />
                        <input type="hidden" name="gridExperiences[{{$index}}][REMARK]" value="{{member.REMARK}}" />

                    </div>

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.TestTypeID)
                    @Html.HiddenFor(m => m.ExamType)
                    @Html.HiddenFor(m => m.LaserCode)
                    @Html.HiddenFor(m => m.CenterExamID)
                    @Html.HiddenFor(m => m.CenterExamName)
                    @Html.HiddenFor(m => m.ClassGroupID)
                    @Html.HiddenFor(m => m.ClassGroupName)
                    @Html.HiddenFor(m => m.RegClassID)
                    @Html.HiddenFor(m => m.RegClassName)
                    @Html.HiddenFor(m => m.CitizenProvinceID)
                    @Html.HiddenFor(m => m.CitizenProvinceName)
                    @Html.HiddenFor(m => m.CitizenID)
                    @Html.HiddenFor(m => m.PrefixID)
                    @Html.HiddenFor(m => m.PrefixName)
                    @Html.HiddenFor(m => m.FirstName)
                    @Html.HiddenFor(m => m.LastName)
                    @Html.HiddenFor(m => m.EduPrefixID)
                    @Html.HiddenFor(m => m.EduPrefixName)
                    @Html.HiddenFor(m => m.EduFirstName)
                    @Html.HiddenFor(m => m.EduLastName)
                    @Html.HiddenFor(m => m.Gender)
                    @Html.HiddenFor(m => m.GenderName)
                    @Html.HiddenFor(m => m.NationName)
                    @Html.HiddenFor(m => m.RaceName)
                    @Html.HiddenFor(m => m.ReligionID)
                    @Html.HiddenFor(m => m.ReligionName)
                    @Html.HiddenFor(m => m.StatusID)
                    @Html.HiddenFor(m => m.StatusName)
                    @Html.HiddenFor(m => m.BirthDate)
                    @Html.HiddenFor(m => m.BirthDateChar)
                    @Html.HiddenFor(m => m.BirthDateDay)
                    @Html.HiddenFor(m => m.BirthDateMonth)
                    @Html.HiddenFor(m => m.BirthDateYear)
                    @Html.HiddenFor(m => m.IssueDate)
                    @Html.HiddenFor(m => m.ExpiredDate)
                    @Html.HiddenFor(m => m.AgeDay)
                    @Html.HiddenFor(m => m.AgeMonth)
                    @Html.HiddenFor(m => m.AgeYear)
                    @Html.HiddenFor(m => m.DocTypeID)
                    @Html.HiddenFor(m => m.DocTypeName)
                    @Html.HiddenFor(m => m.ClassLavelID)
                    @Html.HiddenFor(m => m.ClassLavelName)
                    @Html.HiddenFor(m => m.SchoolGroupID)
                    @Html.HiddenFor(m => m.SchoolFlag)
                    @Html.HiddenFor(m => m.SchoolID)
                    @Html.HiddenFor(m => m.SchoolName)
                    @Html.HiddenFor(m => m.SchoolProvinceID)
                    @Html.HiddenFor(m => m.SchoolProvinceName)
                    @Html.HiddenFor(m => m.SchoolCountryID)
                    @Html.HiddenFor(m => m.DegreeID)
                    @Html.HiddenFor(m => m.DegreeName)
                    @Html.HiddenFor(m => m.MajorID)
                    @Html.HiddenFor(m => m.MajorName)
                    @Html.HiddenFor(m => m.EducationFlag)
                    @Html.HiddenFor(m => m.GraduateDate)
                    @Html.HiddenFor(m => m.GPA)
                    @Html.HiddenFor(m => m.StudyYear)
                    @Html.HiddenFor(m => m.EduYear)
                    @Html.HiddenFor(m => m.ClassHighestLavelID)
                    @Html.HiddenFor(m => m.ClassHighestLavelName)
                    @Html.HiddenFor(m => m.ClassHighestLavelSchoolName)
                    @Html.HiddenFor(m => m.SpecialSkills)
                    @Html.HiddenFor(m => m.DefectiveFlag)
                    @Html.HiddenFor(m => m.DefectiveHelpFlag)
                    @Html.HiddenFor(m => m.DefectiveHelpID)
                    @Html.HiddenFor(m => m.OccuupationID)
                    @Html.HiddenFor(m => m.OccuupationName)
                    @Html.HiddenFor(m => m.PositionName)
                    @Html.HiddenFor(m => m.StationName)
                    @Html.HiddenFor(m => m.DepartmentName)
                    @Html.HiddenFor(m => m.OfficeMobile)
                    @Html.HiddenFor(m => m.OfficeTel)
                    @Html.HiddenFor(m => m.OfficeTelEx)
                    @Html.HiddenFor(m => m.Salary)
                    @Html.HiddenFor(m => m.AddrNo)
                    @Html.HiddenFor(m => m.Village)
                    @Html.HiddenFor(m => m.Moo)
                    @Html.HiddenFor(m => m.Soi)
                    @Html.HiddenFor(m => m.Road)
                    @Html.HiddenFor(m => m.ProvID)
                    @Html.HiddenFor(m => m.AmphID)
                    @Html.HiddenFor(m => m.TmblID)
                    @Html.HiddenFor(m => m.ProvName)
                    @Html.HiddenFor(m => m.AmphName)
                    @Html.HiddenFor(m => m.TmblName)
                    @Html.HiddenFor(m => m.Zipcode)
                    @Html.HiddenFor(m => m.Tel)
                    @Html.HiddenFor(m => m.TelEx)
                    @Html.HiddenFor(m => m.TbbAddrNo)
                    @Html.HiddenFor(m => m.TbbVillage)
                    @Html.HiddenFor(m => m.TbbMoo)
                    @Html.HiddenFor(m => m.TbbSoi)
                    @Html.HiddenFor(m => m.TbbRoad)
                    @Html.HiddenFor(m => m.TbbProvID)
                    @Html.HiddenFor(m => m.TbbAmphID)
                    @Html.HiddenFor(m => m.TbbTmblID)
                    @Html.HiddenFor(m => m.TbbProvName)
                    @Html.HiddenFor(m => m.TbbAmphName)
                    @Html.HiddenFor(m => m.TbbTmblName)
                    @Html.HiddenFor(m => m.TbbZipcode)
                    @Html.HiddenFor(m => m.TbbTel)
                    @Html.HiddenFor(m => m.TbbTelEx)
                    @Html.HiddenFor(m => m.Mobile)
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.EmergencyFirstName)
                    @Html.HiddenFor(m => m.EmergencyLastName)
                    @Html.HiddenFor(m => m.EmergencyRelation)
                    @Html.HiddenFor(m => m.EmergencyTel)
                    @Html.HiddenFor(m => m.EmergencyTelEx)
                    @Html.HiddenFor(m => m.EmergencyMoblie)
                    @Html.HiddenFor(m => m.Password)
                    @Html.HiddenFor(m => m.ComfirmPassword)
                    @Html.HiddenFor(m => m.SMSStatus)
                    @Html.HiddenFor(m => m.SMSMobile)
                    @Html.HiddenFor(m => m.SMSEmail)
                    @Html.HiddenFor(m => m.ConsentDate)
                    @Html.HiddenFor(m => m.TbbFlag)
                    @Html.HiddenFor(m => m.EduFlag)
                    @Html.HiddenFor(m => m.OCSCFlag)
                    @Html.HiddenFor(m => m.OCSCLevelID)
                    @Html.HiddenFor(m => m.OCSCLevelName)
                    @Html.HiddenFor(m => m.OCSCCertNo)
                    @Html.HiddenFor(m => m.OCSCExamDate)
                    @Html.HiddenFor(m => m.OCSCPassDate)
                    @Html.HiddenFor(m => m.PhotoFileName)
                    @Html.HiddenFor(m => m.FacultyName)
                    @Html.HiddenFor(m => m.DiplomaMajor)
                    @Html.HiddenFor(m => m.DiplomaAcademy)
                    @Html.HiddenFor(m => m.DiplomaFlag)
                    @Html.HiddenFor(m => m.DiplomaTeachAcademy)
                    @Html.HiddenFor(m => m.DiplomaTeachGraduateDate)
                    @Html.HiddenFor(m => m.CertTeachNo)
                    @Html.HiddenFor(m => m.CertTeachIssuedDate)
                    @Html.HiddenFor(m => m.CertTeachExpireDate)
                    @Html.HiddenFor(m => m.TeachClassLevelID)
                    @Html.HiddenFor(m => m.TeachClassLevelName)
                    @Html.HiddenFor(m => m.OccuupationName4Gov)
                    @Html.HiddenFor(m => m.ExamSiteID)
                    @Html.HiddenFor(m => m.ExamSiteName)

                    @Html.HiddenFor(m => m.LineID)
                    @Html.HiddenFor(m => m.ContactTitle)
                    @Html.HiddenFor(m => m.ContactTitleName)
                    @Html.HiddenFor(m => m.ContactFName)
                    @Html.HiddenFor(m => m.ContactLName)
                    @Html.HiddenFor(m => m.ContactDetail)
                    @Html.HiddenFor(m => m.ContactPhoneNo)
                    @Html.HiddenFor(m => m.ContactPhoneEx2)
                    @Html.HiddenFor(m => m.ContactTitle2)
                    @Html.HiddenFor(m => m.ContactTitleName2)
                    @Html.HiddenFor(m => m.ContactFName2)
                    @Html.HiddenFor(m => m.ContactLName2)
                    @Html.HiddenFor(m => m.ContactDetail2)
                    @Html.HiddenFor(m => m.ContactPhoneNo2)
                    @Html.HiddenFor(m => m.ContactPhoneEx2)



                    @if (Model.DOCS != null)
                    {
                        for (var index = 0; index < Model.DOCS.Count; index++)
                        {
                            var line = Model.DOCS[index];
                            <input type="hidden" name="DOCS[@index][DOC_GUID]" value="@line.DOC_GUID" />
                            <input type="hidden" name="DOCS[@index][DOC_TYPE_ID]" value="@line.DOC_TYPE_ID" />
                            @*<input type="hidden" name="DOCS[@index][DOC_TYPE_NAME]" value="@line.DOC_TYPE_NAME" />*@
                            <input type="hidden" name="DOCS[@index][FILE_NAME]" value="@line.FILE_NAME" />
                            <input type="hidden" name="DOCS[@index][FILE_TYPE]" value="@line.FILE_TYPE" />
                            <input type="hidden" name="DOCS[@index][TEST_TYPE_ID]" value="@line.TEST_TYPE_ID" />
                            <input type="hidden" name="DOCS[@index][REQUIRE_FLAG]" value="@line.REQUIRE_FLAG" />
                        }
                    }
                </form>
                <div class="row my-3">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-success" ng-click="submitConfirm()" ng-disabled="checked">ยืนยัน</button>
                        <a href="@Url.Action("RegisterStep1","Register", new { testTypeID = Model.TestTypeID })" class="btn btn-primary ml-2">แก้ไข</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="_ConfirmRegisterWarning.html">
        @Html.Partial("_ConfirmRegisterWarning")
    </script>
</div>

@section scripts {
    <script src="~/Scripts/views/register-master.js?_=20220531"></script>
    <script>
        var oldData = @Html.Raw(Model.ToJson());
        $("#CaptchaInputText").addClass("form-control mt-2");
        $("#CaptchaInputText").attr("placeholder", "กรอกตัวอักษรที่ท่านเห็น");
        $("#CaptchaInputText").attr("style", "width: 180px; text-transform:uppercase;");
        $("#CaptchaImage").attr("style", "height: 50px;");

        $(function () {
            $("#CaptchaInputText").keypress(function (e) { return Character.isKeyEngCharacter(e); });
        });
    </script>
}
