@model Register.Models.RegisterModel
@{
    ViewBag.Title = "สมัครสอบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="registerApp" ng-controller="registerFinalController">
    <div class="col-12 px-1 px-md-3">
        <div class="card mt-3">
            <h5 class="card-header header-table">สมัครสอบ</h5>
            <div class="card-body form-group pl-3">
                <div class="text-danger text-center information font-weight-bold">ระบบได้รับใบสมัครของท่านเรียบร้อยแล้ว</div>
                @*<div class="text-center mt-3 information font-weight-bold">ผู้สมัครสามารถพิมพ์ใบสมัครได้ โดยคลิกที่ปุ่มเมนู "พิมพ์ใบสมัคร"</div>*@
                <div class="text-blue text-center information font-weight-bold mt-3">การสมัครสอบจะเสร็จสมบูรณ์ต่อเมื่อผู้สมัครสอบชำระค่าธรรมเนียมในการสมัครสอบแล้ว</div>
                <div class="text-center information font-weight-bold mt-3">หลังจากที่ผู้สมัครชำระเงินค่าสมัครสอบแล้ว <span class="text-danger">ระบบจะปรับปรุงสถานะการชำระเงิน</span> <h4 class="d-inline font-weight-bold" style="color:red;">ภายในวันถัดไป</h4><br />ผู้สมัครสามารถเข้ามาตรวจสอบสถานะการชำระเงิน โดยคลิกที่ปุ่มเมนู "ตรวจสอบสถานะการสมัครสอบ"</div>

                @*<div class="text-center mt-3 information">ท่านสามารถชำระเงินค่าสมัครสอบได้ 2 ช่องทาง ดังต่อไปนี้</div>*@
                @*<div class="row mt-5">
                        <div class="col-12 col-md-2"></div>
                        <div class="col-12 col-md-4 text-left">- ชำระเงินออนไลน์ ผ่านบัตรเครดิต, บัตรเดบิต</div>
                        <div class="col-12 col-md-6">
                            <a href="https://www.ktbnetbank.com/consumer/" target="_blank" class="btn btn-success ml-md-5 mb-3"><i class="far fa-credit-card"></i>&nbsp;&nbsp;ชำระเงินออนไลน์</a>
                        </div>
                    </div>*@
                <div class="row mt-3 ng-cloak">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-10 text-left">

                        <div ng-show="testTypeID == 2">
                            ค่าธรรมเนียมการสมัครสอบ<span class="text-danger" style="text-decoration: underline;">รวมค่าธรรมเนียมธนาคาร</span> สำหรับตำแหน่ง ดังต่อไปนี้<br>
                            1) ตำแหน่งนักทรัพยากรบุคคล จำนวน 430 บาท<br>
                            2) ตำแหน่งนักส่งเสริมการพัฒนาชุมชน จำนวน 430 บาท<br>
                            3) ตำแหน่งนักวิเคราะห์นโยบายและแผน จำนวน 430 บาท<br>
                            4) ตำแหน่งนักประชาสัมพันธ์ จำนวน 430 บาท<br>
                            5) ตำแหน่งวิศวกรโยธา จำนวน 430 บาท<br>
                            6) ตำแหน่งนักวิชาการพัสดุ จำนวน 430 บาท<br>
                            <span class="text-blue">
                                และจำนวน 400 บาท สำหรับตำแหน่งนายช่างไฟฟ้า
                            </span><br>
                            <span class="text-danger blink_me">*<span style="text-decoration: underline;">คำเตือน</span> กรณีชำระผ่านแอปพลิเคชัน กรุณาตรวจสอบยอดเงินให้ตรงกับตำแหน่งที่สมัคร</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-5 text-left align-self-center">1.  พิมพ์แบบฟอร์มการชำระเงิน นำไปชำระเงินที่เคาน์เตอร์ของธนาคารกรุงไทย</div>
                    <div class="col-12 col-md-5">
                        @using (Html.BeginForm("PrintPayIn", "Reports", FormMethod.Post, new { area = "", enctype = "multipart/form-data", @target = "_blank" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("ReportName", "PayinReport")
                            <input type="hidden" id="TestTypeID" name="TestTypeID" value="{{testTypeID}}" />
                            <input type="hidden" id="CitizenID" name="CitizenID" value="@Model.CitizenID" />
                            <button type="submit" target="_blank" class="btn btn-info ml-md-5 mb-3"><i class="far fa-file-pdf fa-1x"></i>&nbsp;&nbsp;พิมพ์แบบฟอร์มการชำระเงิน</button>
                        }
                    </div>
                </div>
                <div class="row mt-3 ng-cloak">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-10 text-left">2. ชำระเงินโดยการสแกน QR code ผ่านแอปพลิเคชัน Krungthai NEXT </div>
                </div>

                <div class="row mt-3 ng-cloak">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-10 text-left text-danger">** QR CODE ชำระเงินนี้ ใช้สำหรับผู้สมัครที่แสดงชื่อบนฟอร์มชำระเงินนี้เท่านั้น ไม่สามารถใช้ชำระเงินให้กับผู้สมัครคนอื่นได้ **</div>
                </div>

                <div class="row mt-5 ng-cloak">
                    <div class="col-12 col-md-2" ng-if="qrcodeInfo.SmsStatus == 'Y'"></div>
                    <div class="col-12 col-md-4" ng-if="qrcodeInfo.SmsStatus == 'N'"></div>
                    <div class="col-12 col-md-4 text-center">
                        <label class="font-weight-bold information">ค่าธรรมเนียมการสอบ 400 บาท</label><br /><label class="font-weight-bold">และค่าธรรมเนียมธนาคาร 30 บาท</label><br />
                        <a id="imgQrRegister" href="{{qrcodeInfo.QRCode}}" target="_blank" download="QrCode.jpg">
                            <img ng-src="{{qrcodeInfo.QRCode}}" style="max-width: 250px; border: solid 1px black" />
                        </a><br />
                        <button type="button" class="btn btn-outline-info mt-2" onclick="imgQrRegister.click()">ดาวน์โหลด QR Code</button>
                    </div>
                    <div class="col-12 col-md-4 text-center" ng-if="qrcodeInfo.SmsStatus == 'Y'">
                        <label class="font-weight-bold">ค่าบริการ SMS 20 บาท</label><br /><label class="font-weight-bold text-danger">**ไม่ใช่ค่าสมัครสอบ**</label><br />
                        <a id="imgQrSMS" href="{{qrcodeInfo.SMSQRCode}}" target="_blank" download="QrCode-SMS.jpg">
                            <img ng-src="{{qrcodeInfo.SMSQRCode}}" style="max-width: 250px; border: solid 1px black" />
                        </a><br />
                        <button type="button" class="btn btn-outline-info mt-2" onclick="imgQrSMS.click()">ดาวน์โหลด QR Code</button>
                    </div>
                </div>
                @*<div class="row mt-5 ng-cloak"  ng-if="qrcodeInfo.SmsStatus == 'Y'">
                    <div class="col-12 col-md-4" ></div>
                    <div class="col-12 col-md-4 text-center">
                        <label class="font-weight-bold">ค่าบริการ SMS 20 บาท</label><br /><label class="font-weight-bold text-danger">**ไม่ใช่ค่าสมัครสอบ**</label><br />
                        <a id="imgQrSMS" href="{{qrcodeInfo.SMSQRCode}}" target="_blank" download="QrCode-SMS.jpg">
                            <img ng-src="{{qrcodeInfo.SMSQRCode}}" style="max-width: 250px; border: solid 1px black" />
                        </a><br />
                        <button type="button" class="btn btn-outline-info mt-2" onclick="imgQrSMS.click()">ดาวน์โหลด QR Code</button>
                    </div>
                </div>*@

                    @*<div class="row mt-3">
                <div class="col-12 offset-md-1 col-md-10 text-center">
                    <img src="~/Content/Images/banklist3.png" style="max-width: 100%; border: solid 1px black" />
                </div>

            </div>*@
                    <div class="row mt-5">
                        <div class="col-12 col-md-12 text-center">
                            <a href="@Url.Action("Index","Home")" class="btn btn-primary ml-1"><i class="fas fa-home"></i> กลับหนัาหลัก</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/views/register-final.js"></script>
    <script>
        var citizenID = '@Model.CitizenID';
    </script>
}


